/bin/
*.jpg
*.png
*.class
src/SecondPanel/FoodButton.java
src/SecondPanel/FoodButtonList.java
src/SecondPanel/FoodPanel.java
src/SecondPanel/GraphPanel.java
src/SecondPanel/PrivateInfo.java
src/SecondPanel/SecondPanel.java
src/SecondPanel/TimeLinePanel.java
src/SecondPanel/EverageLine.java
src/SecondPanel/FoodAteBar.java
*.pptx
*.docx
*.url
src/SecondPanel/TimeLinePanelList.java
src/SecondPanel/TimePanel.java
*.zip
*.index
*.location
*.snap
*.properties
*.markers
*.tree
*.dat
*.version
*.resources
*.prefs
*.xml
*.xmi
*.fdt
*.fdx
*.fnm
*.frq
*.nrm
*.tii
*.tis
*.gen
*.prx
*.json
*.txt
*.history
*.setup
*.mark
*.js
*.ini
*.project
*.classpath
*.gitignore
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_2
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.lock
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.debug.core/.launches/Main (1).launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Main.launch
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_2
