/bin/
*.jpg
*.png
*.class
src/SecondPanel/FoodButton.java
src/SecondPanel/FoodButtonList.java
src/SecondPanel/FoodPanel.java
src/SecondPanel/GraphPanel.java
src/SecondPanel/PrivateInfo.java
src/SecondPanel/SecondPanel.java
src/SecondPanel/TimeLinePanel.java
src/SecondPanel/EverageLine.java
src/SecondPanel/FoodAteBar.java
*.pptx
*.docx
*.url
src/SecondPanel/TimeLinePanelList.java
src/SecondPanel/TimePanel.java
